<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Smoke Detector</title>
</head>

<body>
    <marquee class="blink">
        <h1>Online Smoke Detector.</h1>
    </marquee>
    <div class="box">
        <div class="container">
            <div class="top">
                <header style="color: black">Enter the details</header>
            </div>
            <br>
            <form action="/predict" method="post">
                <div class="input-field">
                    <input type="number" class="input" placeholder="Humidity (in %)" name="humidity" min="0" max="70"
                        step="0.1" required>
                    <i class="fa-solid fa-droplet"></i>
                </div>
                <div class="input-field">
                    <input type="number" class="input" placeholder="CO2(ppm)" name="CO2" min="400" step="1" required>
                    <i class="fa-solid fa-smog" style="color: #1ed2cf;"></i>
                </div>
                <div class="input-field">
                    <input type="number" class="input" placeholder="Pressure (in hPa)" name="pressure" min="930"
                        max="950" step="0.1" required>
                    <i class="fa-solid fa-temperature-quarter" style="color: #c8ff00;"></i>
                </div>
                <div class="input-field">
                    <input type="number" class="input" placeholder="PM 1.0" name="PM1" min="0" step="0.01" required>
                    <i class="fa-solid fa-bullseye" style="color: #ee1b1b;"></i>
                </div>
                <div class="input-field">
                    <input type="number" class="input" placeholder="PM 2.5" name="PM2.5" min="0" step="0.01" required>
                    <i class="fa-solid fa-virus-slash" style="color: #3e0df2;"></i>
                </div>
                <div class="input-field">
                    <input type="number" class="input" placeholder="NC 0.5" name="NC0.5" min="0" step="0.01" required>
                    <i class="fa-solid fa-bullseye" style="color: #ff05ea;"></i>
                </div>
                <div class="input-field">
                    <input type="number" class="input" placeholder="NC 1.0" name="NC1.0" min="0" step="0.01" required>
                    <i class="fa-solid fa-soap" style="color: #1404fb;"></i>
                </div>
                <div class="input-field">
                    <input type="submit" class="submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>